<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <table>
            <thead>
                <tr>
                    <th>글번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성 시간</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="boards : ${boardList}">
                    <td th:text="${boards.id}"></td>
                    <td th:text="${boards.title}"></td>
                    <td th:text="${boards.writer}"></td>
                    <td th:text="${boards.date}"></td>
                </tr>
                </tbody>
            </table>
</div>
    </div> <!-- /container -->
    </body>
    </html>